body {
  padding-top: 30px;
}

.title {
  font-family: 'Prosto One', cursive;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #EEE;
}

.submit-button {
  margin-top: 20px;
}